* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: #fff;

  width: 100%;

  font-family: "Inter";
  font-weight: 500;
  color: #232323;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  display: flex;
  width: 1920px;
  height: 1080px;
  align-items: flex-start;
}

.left {
  display: flex;
  width: 379px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
  align-self: stretch;

  border-right: 1px solid var(--stone-200, #e7e5e4);
}

.scheduleView {
  padding: 1rem;
  background-color: darkgrey;
  color: #232323;
}
