.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .settingsContainer {
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    justify-content: flex-start;
    flex-direction: row;
  
    
  }
  .leftPanel {
    width: calc(80vw * 0.2);
    height: 80vh;   
    flex-shrink: 0;
    border-radius: 16px 0px 0px 16px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(37.5px);
  }

  .mainBox {
    width: calc(80vw * 0.6);
    height: 80vh;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 0px;
    background: rgba(231, 222, 222, 0.8);
    backdrop-filter: blur(37.5px);
  }

  .title {
    color: #1C1917;
    font-feature-settings: 'cv11' on, 'cv05' on;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.44px;
  }