.screenContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  background: linear-gradient(180deg, #7ec6cc 0%, #bee889 100%);
}

.loginBox {
  width: 465px;
  height: 645;
  padding: 48px; /* Adjust padding as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; /* Adjust gap for spacing between elements */
  border-radius: 73px;
  background: #ebebeb;
}

.title {
  width: 118px;
  height: 51px;
  flex-shrink: 0;
  color: #000;
  font-family: Abel;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forgotPasswordLink {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1.5px solid black;
  margin-left: 20px;
}

.input {
  width: 400px;
  height: 60px;
  padding: 0 24px; /* Padding inside input for text */
  margin: 8px 0; /* Margin around inputs for spacing */
  border-radius: 30px; /* Adjust as per design */
  border: 1px solid #000;
  background: #fff;
}

.loginButton {
  display: flex;
  width: 100%;
  width: 400px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 114.5px;
  border: 1px solid #000;
  background: var(--Default-F886A8, #f886a8);
  margin-top: 30px;
}

.signUpButton {
  display: flex;
  width: 400px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 114.5px;
  border: 1px solid #000;
  background: var(--Color3, #9adbc5);
}

.orSeparator {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  min-width: 26vw;
}

.orSeparator .line {
  flex-grow: 1;
  height: 2px;
  margin-top: 10px;
  background: #000;
}

.orSeparator span {
  padding: 0 2px;
}

.passResetContainer {
  width: 465px;
  height: 493px;
  flex-shrink: 0;
  border-radius: 73px;
  background: #ebebeb;
}

/* Adjust styles for screens smaller than 600px */
@media (max-width: 600px) {
  .passResetContainer {
    border-radius: 50px; /* Reduce border radius for small screens */
  }

  .loginBox {
    width: 300px; /* Adjust width for small screens */
    padding: 24px; /* Adjust padding for small screens */
  }

  .input {
    width: 250px; /* Adjust width for small screens */
    height: 38px; /* Adjust height for small screens */
    padding: 0 12px; /* Adjust padding for small screens */
    margin: 4px 0; /* Adjust margin for small screens */
    border-radius: 19px; /* Adjust border radius for small screens */
  }

  .loginButton {
    width: 250px; /* Adjust width for small screens */
    height: 38px; /* Adjust height for small screens */
    margin-top: 20px; /* Adjust margin for small screens */
  }

  .signUpButton {
    width: 250px; /* Adjust width for small screens */
    height: 38px; /* Adjust height for small screens */
  }

  .orSeparator {
    min-width: 65vw; /* Increase the minimum width for small screens */
  }

  .orSeparator span {
    padding: 0 1px; /* Reduce the padding for small screens */
  }

  .forgotPasswordLink {
    font-size: 12px; /* Adjust font size for small screens */
    margin-left: 10px; /* Adjust margin for small screens */
  }
}

.textWelcome {
  text-align: center;
  font-feature-settings: "cv11" on, "cv05" on;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2.4px;

  background: linear-gradient(90deg, #abe1e3 0%, #fcc453 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textBack {
  display: flex;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;

  color: var(--neutral-900, #171717);
  text-align: right;
  font-feature-settings: "cv11" on, "cv05" on;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
}

.textCalPal {
  color: var(--neutral-900, #171717);
  text-align: center;
  font-feature-settings: "cv11" on, "cv05" on;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2.4px;
}
