.fc .fc-col-header-cell-cushion {
  /* needs to be same precedence */
  padding-top: 5px; /* an override! */
  padding-bottom: 5px; /* an override! */
}

.fc .fc-event-main {
}

.fc-col-header-cell {
}

/* Need to dynamically create classes for each filter */
.fc .fc-filterGym-button {
  background: none;
  color: black;
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid #fdc453;
}

.fc .fc-filterGym-button:hover {
  background: #fdc453;
  color: black;
  border-radius: 8px;
  border: 2px solid #fdc453;
}

.fc .fc-filterGym-button:active {
  background: #fdc453;
}
